<template name='header'>
  <div class="ui top menu sticky fluid labeled transparent">
    <div class="header item" data-action="goHome">
      alloBarcode
    </div>
    <div class="menu">
      {{> atNavButton}}
    </div>
    {{#if isMobile}}
    <div class="item right labeled"  data-action="scan">
      <i class="big barcode icon"></i>
      Scan
    </div>
    {{else}}
    <div class="item right labeled"  data-action="fakeScan">
      <i class="big barcode icon"></i>
      Fake
    </div>
    {{/if}}
  </div>
</template>
