<template name='home'>
  <div class="ui segment basic fluid center aligned">
    {{#if barcodes}}
      <table class="ui celled table unstackable small">
        <thead>
          <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Barcode</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each barcodes}}
          <tr>
            <td>{{product.product_name}}</td>
            <td>{{product.brands}}</td>
            <td>{{value}} [{{format}}]</td>
            <td>{{fromNow createdAt}}</td>
            <td class="right aligned" data-action="delete" data-id="{{_id}}">
              <i class="delete icon"></i>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <h3>Please scan some barcodes</h3>
    {{/if}}

  </div>
</template>
