<template name='home'>
  <div class="ui basic fluid scans-list-segment">
    {{#if scans}}
      <div class="ui relaxed divided list scans-list">

      {{#each scans}}
        <div class="item">
          <img class="ui mini image" src="{{getImg image}}">
          <div class="content">
            <a class="header">{{name}} <strong>{{formatMoney price}}</strong></a>
            <div class="description"><strong>{{brand}}</strong> <small>{{fromNow createdAt}} #{{@index}}</small></div>
            <div class="description"><small>{{value}} [{{format}}]</small></div>
          </div>
          <div class="right floated">
            <button class="ui circular basic green icon button" data-action="edit" data-id="{{_id}}">
              <i class="pencil icon"></i>
            </button>
            <button class="ui circular basic red icon button" data-action="delete" data-id="{{_id}}">
              <i class="trash icon"></i>
            </button>
          </div>
        </div>
      {{/each}}

      </div>
    {{else}}
      <div class="ui basic segment">
        <div class="ui raised center aligned segment">
          <h4>Please scan some barcodes</h4>
        </div>
      </div>
    {{/if}}
  </div>
</template>
