<template name='home'>
  <div class="ui segment basic fluid scans-list-segment">
    {{#if scans}}
      <div class="ui relaxed divided list scans-list">
      {{#each scans}}
        <div class="item">
          <img class="ui mini image" src="{{getImg product.image_front_small_url}}">
          <div class="content">
            <a class="header">{{@index}}: {{product.product_name}} <strong>{{formatMoney price}}</strong></a>
            <div class="description"><strong>{{product.brands}}</strong> <small>{{fromNow createdAt}}</small></div>
            <div class="description"><small>{{value}} [{{format}}]</small></div>
          </div>
          <button class="ui circular red icon button right floated" data-action="delete" data-id="{{_id}}">
            <i class="trash icon"></i>
          </button>
          <button class="ui circular green icon button right floated" data-action="edit" data-id="{{_id}}">
            <i class="pencil icon"></i>
          </button>
        </div>
      {{/each}}
      </div>
    {{else}}
      <h3>Please scan some barcodes</h3>
    {{/if}}
  </div>
</template>
